* {
  border: none;
  margin:0;
  padding:0;
}

html{
	height:100%;
}
body{
	background-image:-webkit-linear-gradient(yellow 25%, red 70%, 
black);
}

header{
	background-color:#;
	border: 1px solid black;
	border-radius:8px;
}

h1{
	text-align:left;
}

#logIn{
	color:green;
	text-align:right;
}

fieldset{
	margin-right:800px;
}

body{
	background-image:#;
	background-attachment:fixed;
	font-family:papyrus;
	/background-color:silver;
}

#createMenu{
	margin:auto;
	margin-top:75px;
	width: 100px;
}





#createButton{
	margin-left:-50px;
	font-family:"papyrus","goudy stout",Copperplate;
	font-size: 30px;
	background-color:red;
	color:yellow;
	border-radius:15px;
	width:250px;
	padding:40px;
}



#createButton:hover{
	background-color: yellow;
	color:red;
}

